.errorMsg{
    color: red;
    font-size: 16px;
    font-style: italic;
}

.articleName{
    color:black;
    font-family: Arial, Helvetica, sans-serif;

}

.headingClass{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0px 50px 0 50px;
    position: absolute;
    left: 40%;
    padding: 12px;
    box-shadow: 0 0 3px #245ea5;
    border-radius: 7px;
    background-color: #4b9ed5;
    z-index: 100;
    transform: translate(-50%, -50%);
}


@media (min-width: 400px) and (max-width: 767px){
    .articleHeading{
        font-size: 1.4rem;
        top: 10%;
        width: 50%;
        text-align: left;
         left: 36%;
    }
}


@media (min-width: 768px) and (max-width: 1079px){
    .articleHeading{
        font-size: 2rem;       
        margin: 0px 50px 0 50px;
        top: 15%;
        text-align: left;
        width: 50%;
        left:40%;
      
    }
}
@media (min-width: 1080px) and (max-width: 1960px){
.articleHeading {
    font-size: 2.5rem;
    text-align: center;
    margin: 0px 50px 0 50px;
    top: 17%;
    left: 35.5%;
}
}
.articleElements{
    justify-content: center;
    position: relative;
    display: flex;
}

.publisherDetails{
    text-align: center;
    position: absolute;
    background-color: #575555;
    color: #ffffff;
    border-radius: 8px;
    padding: 7px 7px 5px 7px;
    z-index: 9999;
}

@media (min-width: 400px) and (max-width: 767px){
    .articlePublisherDetails {
        top: 13%;
        margin-top: 4px;
        font-size: 0.7rem;
        left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1079px){
    .articlePublisherDetails {
        top: 22%;
        margin-top: 4px;
        font-size: 0.8rem;
        left: auto;
    }
}

@media (min-width: 1080px) and (max-width: 1960px) {
    .articlePublisherDetails {
        top: 20%;
        margin-top: 4px;
        font-size: 1rem;
        left: 35%;
    }
}
.articleBodyContent{
    justify-content: flex-start;
    font-size: 14px;
    width: 96%;
    text-align: justify;
    margin-top: 5px;
    overflow-wrap: break-word;
}

.articleDisplayedContent{
    margin-left: 3%;
}

.publishedClass{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.authorName{
    font-size: 1.2rem;
    margin-left: 2px;
    color: #eef1f3;
    font-weight: 500;

}

.imageDetails{
    font-size:12px;
    font-style: italic;
}

.lead-image-container{
    display: inline;
    opacity: 0.9;
    filter: alpha(opacity=40);
}
