.nav-links{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid;
}

.nav-list{
  display: flex;
  padding: 0px 2px 0px 0px;
  margin-left: 2.5%;
  
}
.nav-item{
    justify-content: flex-start;
    list-style: none;
    padding: 13px;
    font-size: 18px;

}

.navLinkClass{
     margin:10px;
}

.nav-list >a.active{
  background-color: rgb(212 230 237);
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(212 230 237);
  border-radius: 6px;
   padding-bottom: 2px;
}

.nav-list >a{
  color:black;
  text-decoration: none;
}